* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  /* RED GRADIENT BACKGROUND */
  /* background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 0.65) 0%,
    rgba(120, 0, 0, 0.85) 40%,
    rgba(60, 0, 0, 0.95) 70%,
    #000 100%
  ); */
    background-image: url(/OIP.webp);
  background-size: cover;
  background-repeat: no-repeat;
  


  /* CENTER THE BLACK CONTAINER */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* for mobile spacing */
}

/* THE BLACK CARD */
.part {
  background: #0d0d0d;
  width: 100%;
  max-width: 1350px; /* keeps card centered on big screens */
  height: 90vh; /* responsive height */
  border-radius: 25px;
  overflow: auto;
  padding: 20px;
      overflow-x: hidden;
}

header {
  width: 100%;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER TITLE */
header h1 {
  color: #e63946;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* NAV LINKS */
a {
  color: #fff;
  text-decoration: none;
}

nav a {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease-in-out;
}

/* HOVER TEXT COLOR */
nav a:hover {
  color: #e63946;
}

/* UNDERLINE EFFECT */
nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #e63946;
  position: absolute;
  left: 0;
  bottom: -4px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/* HOVER UNDERLINE */
nav a:hover::after {
  width: 100%;
  opacity: 1;
}


/* HERO SECTION */
.hero {
  width: 100%;
  padding-top: 140px;
  display: flex;
  justify-content: center;
}

.hero-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT SIDE PICTURE */
.left-box {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border: 4px solid #e63946;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.profile-pic:hover {
  box-shadow: 5px 5px 20px #e63946;
  transform: translateY(-5px) scale(1.05) rotate(1deg);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.profile-pic:hover img {
  transform: scale(1.4) rotate(2deg);
  object-position: top right;
}

/* RIGHT SIDE */
.right-box {
  flex: 1 1 400px;
  width: 100%;
}



.right-box h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.right-box h1 span:nth-child(1) {
  color: #e63946;
  position: relative;
}

h1 span:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: #e63946;
  z-index: 1;
  border-radius: 5px;
}

h1 span:nth-child(2) {
  color: #fff;
  position: relative;
}

h1 span:nth-child(2)::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: #e63946;
  z-index: 1;
  border-radius: 5px;
  animation: bounce 1s ease-in-out infinite;
  opacity: 0;
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  50% {
     opacity: 1;
  }
  100% {
     opacity: 0;

  }
}

p span {
  color: #fff;
}

.right-box p {
  font-size: 18px;
  margin-bottom: 10px;
  font-style: italic;
  line-height: 1.6;
   color: rgba(255, 255, 255, 0.608);  
}



.icons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid #e63946;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  transform: scale(1.3);
}




/* GAMES SECTION */
.games-section {
  padding: 40px 20px;
  text-align: center;
}

.games-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #e63946;
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
    position: relative;
  justify-content: center;
}

.game {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #111;
  cursor: pointer;
}
.moregames{
  font-size: medium;
  font-weight: bold;
  color: #e63946;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
    bottom: -100px;

}
.game img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.game:hover img {
  transform: scale(1.15);
}

.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

/* Generate many snowflakes */
.snowflake {
  position: absolute;
  top: -10px;
  width: 5px;
  height: 5px;
  /* background: white; */
    background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 0.65) 0%,
    rgba(120, 0, 0, 0.85) 40%,
    rgba(60, 0, 0, 0.95) 70%,
    #000 100%
  ); 
  border-radius: 50%;
  opacity: 0.8;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.icons svg {
  fill: #e63946;
}

.icons a {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.icons a:hover {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.icons a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%) translateY(5px);
  opacity: 0;

  width: auto;
  padding: 2px 6px;

  height: 2px;
  border-radius: 5px;

  font-size: 12px;
  color: #e63946;

  transition: all 0.3s ease-in-out;
  pointer-events: none; /* ensures no hover glitch */
}

.icons a:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.icons a:nth-child(1):after {
  content: "facebook";
}

.icons a:nth-child(2):after {
  content: "instagram";
}

.icons a:nth-child(3):after {
  content: "twitter";
}

.icons a:nth-child(4):after {
  content: "tiktok";
}

.icons a:nth-child(5):after {
  content: "github";
}
.icons a:nth-child(6):after {
  content: "linkedin";
}
.icons a:nth-child(7):after {
  content: "steam";
}
.icons a:nth-child(8):after {
  content: "discord";
}

/* Falling animation from top-right to bottom-left */
@keyframes fall {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translate(-100vw, 100vh) rotate(360deg);
    opacity: 0.3;
  }
}





@media (max-width: 1200px) {
  .icons {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Tablets */
@media (max-width: 768px) {
  .icons {
    grid-template-columns: repeat(6, 1fr);
  }

  .profile-pic {
    width: 220px;
    height: 220px;
  }

  .right-box h1 {
    font-size: 32px;
  }

  .game {
    width: 120px;
    height: 120px;
  }
}
/* MOBILE */
@media (max-width: 700px) {
  .profile-pic {
    width: 220px;
    height: 220px;
  }

  .right-box h1 {
    font-size: 32px;
  }

  .game {
    width: 120px;
    height: 120px;
  }
}
/* Small Phones */
@media (max-width: 500px) {
  .icons {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra Small Phones */
@media (max-width: 380px) {
  .icons {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Ultra Small Screens */
@media (max-width: 330px) {
  .icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

