:root{
  --bg:#f4f5f7;
  --card:#ffffff;
  --accent:#111;
  --muted:#666;
  --green:#1b8a2e;
  --red:#c0392b;
}

*{box-sizing:border-box}
body{
  margin:0;
  font-family:Inter,InterVar,system-ui,Segoe UI,Roboto,Arial;
  /* background:var(--bg); */
    background: rgba(255, 255, 255, 0.05);
  color:var(--accent);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
      background: #0d0d0d;
    color: #fff;
}

.screen{min-height:100vh;padding:40px}
.center{display:flex;align-items:center;justify-content:center}
.hidden{display:none}

.card{
  background:var(--card);
  padding:24px;
  border-radius:12px;
  box-shadow:0 8px 30px rgba(10,10,10,0.08);
  text-align:center;
  width:340px;
}
.main-img{width:100%;border-radius:8px;margin-bottom:12px}

.btn{
  background:#111;color:#fff;border:0;padding:10px 16px;border-radius:8px;
  font-weight:700;cursor:pointer;
}
.btn.small{padding:8px 12px;font-size:14px}
.btn:hover{opacity:.95;transform:translateY(-1px)}

.topbar{display:flex;justify-content:space-between;align-items:center;gap:12px;margin-bottom:8px}
.select-text{font-weight:800;font-size:20px}
.controls{display:flex;gap:8px}

.status{font-size:16px;color:var(--muted);margin:10px 0 18px;text-align:center}
.numbers{display:flex;justify-content:center;gap:10px;margin-bottom:14px;flex-wrap:wrap}
.num{
  width:52px;height:52px;border-radius:8px;border:1px solid #222;
  display:flex;align-items:center;justify-content:center;font-weight:800;cursor:pointer;
  background:#fff;user-select:none;
}
.num:hover{transform:scale(1.06);box-shadow:0 6px 16px rgba(0,0,0,0.08)}
.num.active{background:#111;color:#fff;border-color:#111}

.scene{width:160px;height:160px;margin:8px auto 6px;perspective:850px;cursor:pointer}
.cube{width:160px;height:160px;position:relative;transform-style:preserve-3d;transition:transform 1.25s cubic-bezier(.18,.9,.32,1)}
.cube-face{
  position:absolute;width:160px;height:160px;border:2px solid rgba(0,0,0,0.08);background:#fff;display:flex;align-items:center;justify-content:center;
}
.cube-face img{width:100%;height:100%;object-fit:cover;border-radius:6px}

/* faces */
.front  { transform: rotateY(  0deg) translateZ(80px); }
.back   { transform: rotateY(180deg) translateZ(80px); }
.right  { transform: rotateY( 90deg) translateZ(80px); }
.left   { transform: rotateY(-90deg) translateZ(80px); }
.top    { transform: rotateX( 90deg) translateZ(80px); }
.bottom { transform: rotateX(-90deg) translateZ(80px); }

.hint{text-align:center;color:var(--muted);margin-bottom:10px}

.status-row{display:flex;justify-content:center;gap:40px;margin-top:8px}
.score{font-weight:800}
.time{font-weight:800}

.bottom-actions{display:flex;justify-content:center;margin-top:18px}


.num{
  background: none;
}
